
.top-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-bottom-color: yellow;
  border-bottom-width: 5px;
  border-color: yellow;
}

.top-container > div {
  margin: 30px;
  padding: 10px;
}

.nameline {
  font-size: 20px;
}

.careerline {
  font-size: 18px;
}

.detailline {
  font-size: 10px;
}

.top-page-wrapper {
  margin: 10px;
}

.resume-wrapper {
  margin: 15px;
}

.skill-container {
  display: flex;
  justify-content: flex-start;

}

.skill-lister {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-gx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;

  margin: 30px;
  padding: 0px;
}

.double-column-s {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;

  margin: 30px;
  padding: 0px;
}

.double-column-g {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;

  margin: 30px;
  padding: 0px;
}


.double-column-s > div {
  padding-top: 5px; 
  padding-bottom: 5px;
}



.double-column-g-regline {
  padding-bottom: 5px;
}

.double-column-g-lastline {
  padding-bottom: 30px;
}

.single-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  margin: 30px;
}

.row-container > div {
  margin: 30px;
  padding: 10px;
}


.yellowborder {

}

.yellowborder > * {
  border:0;
  margin:0;
  width:100%;
  height:7px;
  background:#fcc404;
}


